.projects {
    background-image: linear-gradient(to top, #36a0e7 0%, #1771b6 100%);
    padding: 1rem;

    // border: 1px solid white;
    h2 {
        text-align: center;
        color: #95d1ff;
        font-size: 70px;
        letter-spacing: 2px;
        font-style: italic;
    }
}

.projectsdiv {
    // border: 1px solid;
    width: 90%;
    margin: auto;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    div {
        background-color: #69beff7b;
        text-align: center;
        padding: 1rem 0;
        border-radius: 10px;

        img {
            width: 100%;
            padding: 1rem;
            object-fit: cover;
        }

        section {
            width: 80%;
            margin: auto;

            h1 {
                font-size: 35px;
                font-weight: 500;
                font-style: italic;
                letter-spacing: 1.2px;
            }

            p {
                margin: 3% 0;
                line-height: 20px;
                opacity: 0.9;
            }

            span {
                h4 {
                    font-size: 24px;
                    font-weight: 400;
                    font-family: cursive;
                }

                h5 {
                    padding: .5rem;
                    font-size: 18px;
                    font-weight: 300;
                    font-family: cursive;
                    letter-spacing: 1.3px;
                    margin: 2% 0 5%;
                    background-color: #69beffa1;
                    border-radius: 10px;
                }
            }
        }

        div {
            width: 35%;
            padding: 0;
            margin: auto;
            display: flex;
            justify-content: space-around;
            background: transparent;
            border-radius: 0;

            button {
                border: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: transparent;

                p {
                    color: black;
                    font-size: 35px;
                }
            }
        }
    }

    @media screen and (max-width:900px) {
        grid-template-columns: repeat(1, 1fr);
    }
}