.gitcalender {
    background-image: linear-gradient(to top, #0404c6 0%, #36a0e7 100%);
    padding: 1rem;

    h2 {
        text-align: center;
        color: #d0ebff;
        //neon blue
        // color: #2272FF;
        font-size: 70px;
        letter-spacing: 2px;
        font-style: italic;
        padding: 0 0 2rem;
    }
}