.footer {
    height: 550px;
    background-image: linear-gradient(to top, #020267 0%, #0404c6 100%);
    padding: 3rem;
    // border: 1px solid white;
}

.mainfooterdiv {
    // border: 1px solid white;
    display: flex;
    width: 80%;
    margin: auto;
    // justify-content: space-around;

    @media screen and (max-width:900px) {
        display: flex;
        flex-direction: column;
    }
}

.footer1 {
    // border: 1px solid;
    // flex: 1;

    h1 {
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 7rem;
        font-family: cursive;
        letter-spacing: 2px;
    }

    p {
        padding: 1rem;
        width: 80%;
        font-size: 2rem;
        color: rgb(160, 209, 255);
        letter-spacing: 2px;
        line-height: 45px;
    }
}

.footer2 {
    // border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // line-height: 33px;
    // height: 150px;
    width: 35%;

    div:nth-child(1) {
        // border: 1px solid;
        // height: 150px;
        display: flex;
        gap: 35px;
        flex-direction: column;

        p {
            color: #b1a4ff;
            font-size: 45px;
            transition: .5s ease-in-out;

            &:hover {
                color: white;
                scale: 1.1;
            }
        }

        @media screen and (max-width:900px) {
            display: flex;
        }
    }
}

// .footer2 {
//     // border: 1px solid;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     // line-height: 33px;
//     // height: 150px;
//     width: 35%;

//     div:nth-child(1) {
//         // border: 1px solid;
//         // height: 150px;
//         display: flex;
//         gap: 35px;
//         flex-direction: column;

//         p {
//             color: #b1a4ff;
//             font-size: 45px;
//             transition: all .5s;

//             &:hover {
//                 color: white;
//                 scale: 1.1;
//             }
//         }
//     }

//     div:nth-child(2) {
//         border: 1px solid white;
//         display: flex;
//         gap: 35px;
//         flex-direction: column;

//         a {
//             text-decoration: none;
//             color: white;
//             font-size: 31px;
//             // padding: .6rem;
//             margin-left: 10px;
//         }
//     }
// }