.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    transition: all .6s ease-in-out;

    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.navbarbg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    transition: all .6s ease-in-out;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.navbar__img {
    img {
        position: relative;
        width: 120px;
        height: 60px;
        object-fit: cover;
        transition: 0.6s;
    }
}

.navbar__content {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    div {
        height: 2px;
        width: 25px;
        margin: auto;
        margin-bottom: 10px;
        background: transparent;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    h3 {
        color: rgba($color: white, $alpha: 0.4);
        font-size: 0.9rem;
        letter-spacing: 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: white;
        }
    }

    &:hover {
        div {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}