.normalNav {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    padding: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--primary);
    border-radius: 30px;
    margin-top: .5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#name {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
    cursor: pointer;
    color: var(--secondary);
}

#content {
    /* border: 1px solid; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: rgba(235, 247, 255, 0.8);
}

#content>h1 {
    cursor: pointer;
    position: relative;
    letter-spacing: 2px;
}

#content>h1::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-button);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#content>h1:hover::after {
    transform: scaleX(1);
}


@media (max-width: 768px) {

    #content {
        width: 60%;
    }

    #content>h1 {
        letter-spacing: 2px;
    }
}

@media (max-width: 480px) {
    .normalNav {
        /* border: 10px solid white; */
        width: 75%;
        position: fixed;
        bottom: 1.5rem;
        border-radius: 50px;
        padding: 1rem;
        z-index: 2;
    }

    /* .normalNav {
        width: 38%;
        position: fixed;
        bottom: 0.5rem;
        margin-left: 1%;
        border-radius: 50px;
        padding: 1rem;
        z-index: 2;
    } */

    #name {
        display: none;
    }

    #content {
        /* border: 1px solid white; */
        width: 100%;
    }

    #content>h1 {
        font-size: 8px;
        /* letter-spacing: 2px; */
    }
}