* {
  font-family: 'Roboto Mono', monospace;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #011623;
  --secondary: #ebf7ff;
  --primary-button: #fc7927;
  --secondary-button: #fff;
  --accent: #ba4903;
}

body {
  background-color: var(--secondary);
}